<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.MemberMapper">

  <select id="selectMember"  parameterType="com.holo.vo.MemberVO" resultType="com.holo.vo.MemberVO">
    select * from members where member_id = #{member_id} and member_pw = #{member_pw}
  </select>

<select id="selectMemberInfo" parameterType="string" resultType="com.holo.vo.MemberVO">
	select * from members where member_id = #{member_id} or member_nickname=#{member_nickname}
</select>
<select id="memberCount" resultType="_int">
	select count(member_id) from members
</select>

<insert id="joinMember"  parameterType="com.holo.vo.MemberVO">
    insert into members (member_id, member_pw, member_name, member_nickname, member_sex, member_level)
  values (#{member_id},#{member_pw},#{member_name},#{member_nickname}, #{member_sex}, #{member_level})
  </insert> 
  
  <select id="findId"  parameterType="com.holo.vo.MemberVO" resultType="com.holo.vo.MemberVO">
    select * from members where member_id = #{member_id} and member_pw = #{member_pw}
  </select>
  
  <!--
  <select id="selectMemberOne"  parameterType="string" resultType="com.holo.vo.MemberVO">
    select * from members where member_id = #{member_id}
  </select> -->


</mapper>